@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Arvo');


*{
  box-sizing: border-box;
}


body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}


h2 {
  font-family: 'arvo', serif;
}


nav ul{
  display: inline-block;
width: 100%;
height: 3em;
padding-right: 1em;
}

nav li{
  list-style: none;
  float: right;
  margin-top: 2em;
  margin-right: 1em;
}


nav li a{
  padding: 1em;
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}

nav li a:hover{
  background-color: white;
  opacity: .5;
  font-size: 110%;
}

#hero {
  background: url("hero.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
  width: 100%;
  margin-top: -100px;
  padding: 0;
}

#hero h1{
  font-size: 550%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40%;
  color: white;
  text-shadow: 4px 3px 15px black;
  margin-left: .5em;
  position: absolute;
  opacity: .9;
  letter-spacing: .1em;
    }

#hero h1:hover{
  letter-spacing: .3em;
  -webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
transition: 0.3s;
}

#what {
  margin: 2% 30%;
  display: inline-block;
  text-align: center;
}

#what h2{
  width: 100%;
  font-family:
}

#residents {
  color: white;
  width: 50%;
  height: 400px;
  float: left;
  text-align: center;
  background-image: url("residents.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#residents a{
  color: white;
  display: inline-block;
  margin-top: 20%;
  border: solid;
  padding: 3%;
  text-decoration: none;
}

#residents a:hover{
  transform: scale(1.2);
}

#residents p{
  font-size: 20px;
}

#businesses {
  color:white;
width: 50%;
height: 400px;
float: right;
text-align: center;
background-image: url(business.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}



#businesses a{
  color: white;
  display: inline-block;
  margin-top: 20%;
  border: solid;
  padding: 3%;
  text-decoration: none;
}

#businesses a:hover{
  transform: scale(1.2);
}

#businesses p{
  font-size: 20px;
}

#who-we {
  margin-top: 2%;
  display: inline-block;
}

#who-we h2{
  text-align: center;
}
#who-we p{
  margin: 0 14%;
  line-height: 200%;
  text-align: center;
}

#columns img{
  width: 30%;
  text-align: center;
}

#columns ul{
  padding: 0;
}

#columns h2{
  font-family: 'Poppins', sans-serif;
}


#columns li{
  color: black;
  display: inline-block;
  width: 32vw;
  height: 300px;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  }

ul a{
  text-decoration: none !important;
}

#columns li:hover{
  transform: scale(.9);
}

#news {
  text-align: center;
  background-color: rgba(138, 176, 48, 0.85);
border-radius: 0%;
transform: scale(.85);
}

#programs {
  text-align: center;
  background-color: rgba(219, 90, 66, 0.85);
border-radius: 0%;
transform: scale(.85);
}

#events {
  text-align: center;
  background-color: rgba(86, 87, 154, 0.78);
border-radius: 0%;
transform: scale(.85);
}

#bottom{
  height: 50vw;
}

#updates{
  width: 32%;
  float: left;
  color: black;
  text-align: left;
  margin-left: 1%;
}

#updates h2{
  text-align: left;
  margin-left: 1em;
border-bottom: solid;
}


#area {
  width: 65%;
  height: 100%;
  float: right;
  display: inline-block;
  text-align: center;
  color: black;
  margin-right: 1%;
  font-size: 115%;
}

#area img{
  padding-top: %;
  width: 85%;
}

footer {
  margin: 5%;
  display: inline-block;
}
