@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Cedarville+Cursive');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@font-face {
    font-family: Aldi;
    src: url(Aldi/Aldi-Regular.otf);
    
}
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;

}

@media only screen and (min-width : 320px) {
  nav ul{
  width: 100%;
  height: auto;
  padding-right: 1em;
  text-align: center;
  margin-top: -20px;

  }

  nav li{
    list-style: none;
    margin: 1em;
    padding-top: 5%;

  }

  nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    opacity: .8;
    font-size: 200%;
  }

.jumbotron {
    position: relative;
    background: url("images/cups.jpg");
    background-position: center;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    border-radius: 0px;
}

.jumbotron h1 {
  color: white;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 75px;
}
.jumbotron h3 {
  color: white;
  font-family: 'Cedarville Cursive', cursive;
  margin-top: 5%;
  font-size: 35px;
}

.about {
  width: 100%;
}

.about h2{
  font-family: 'Cedarville Cursive', cursive;
  border-bottom: solid;
  border-color: rgba(36, 119, 44, 0.52);
  font-size: 10vw;
  width: 90%;
  margin: 0 auto;
}

.about p{
  font-size: 1.5em;
  width: 90%;
  margin: 0 auto;
}

.about img{
  display: block;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  transform: rotateZ(4deg);

}
.portfolio img {
  width: 100%;
}


}

@media only screen and (min-width : 768px) {

  nav ul{
  width: 100%;
  height: 3em;
  padding-right: 1em;
  text-align: center;

  }

  nav li{
    list-style: none;
    margin-top: 2em;
    margin-right: 1em;
    display: inline-block;

  }

  nav li a{
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 30px;
    opacity: .8;
  }

  nav li a:hover{
    text-decoration: none;
    color: black;
  }


  .jumbotron {
      position: relative;
      background: url("images/cups.jpg");
      background-position: center;
      width: 100%;
      height: 100vh;
      background-size: cover;
      overflow: hidden;
      background-attachment: fixed;
      text-align: center;
      margin-top: -44px;
      z-index: -1;
      border-radius: 0px;


  }

  .jumbotron h1 {
    color: white;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 625%;
    margin-top: 15%;
  }

  .jumbotron h3 {
    color: white;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 250%;
    margin-top: 5%;
    font-size: 50px; }


    .about {
      width: 95%;
      margin: 0 auto;
      height: 100vh;
      padding-top: 10%;
    }

    .about h2{
      font-family: 'Cedarville Cursive', cursive;
      font-size: 5vw;
      border-bottom: solid;
      border-color: rgba(36, 119, 44, 0.52);
      margin-top: %;


    }
    .about p{
      font-size: 25px;
      margin-top: 3%;
      margin-right: 0;
      opacity: .8;
    }

    .about img{
      height: 350px;
      text-align: left;
      transform: rotateZ(4deg);;
      margin-top: -20%;
      width: auto;

    }

    .portfolio img {
      width: 100%;
    }



   }


@media only screen and (min-width : 992px) {

  nav ul{
    display: inline-block;
  width: 100%;
  padding-right: 1em;
  }

  nav li{
    list-style: none;
    float: right;
    margin-right: 1em;
    margin-top: -.5em;

  }


  nav li a{
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 25px;
    opacity: .0;
  }

  nav li a:hover{
    text-decoration: none;
    color: black;
  }



.jumbotron {
    position: relative;
    background: url("images/sky.jpg");
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    text-align: center;
    margin-top: -52px;
    z-index: -1;
    border-radius: 0px;

}


.jumbotron h3 {
  color: white;
  font-family: Aldi;
  font-size: 250%;
  opacity: .9;
  margin-top: 2%;
}


.jumbotron h1 {

  color: white;
  font-family: 'Cedarville Cursive', cursive;
  margin-top: 13%;
  font-size: 400%;
  opacity: .9;
}




.jumbotron li {
  list-style: none;
  display: inline;
}
.jumbotron img {
    width: 40px;
    padding: 5px;
    margin-top: 150px;
  }


.about {
  width: 83%;
  margin: 0 auto;
  height: 85vh;
  padding-top: 10%;
}

.about h2{
  font-size: 3.5vw;
  border-bottom: solid;
  border-color: rgba(36, 119, 44, 0);
  margin-top: %;
  width: 100%;
  font-family: Aldi;

}

.about p{
  font-size: 2.4vw;
  margin-top: 3%;
  margin-right: 0;
  opacity: .8;
  width: 100%;
}

.about img{
  height: 45vh;
  width: auto;
  text-align: left;
  transform: rotateZ(0deg);;
  margin-top: 0vh;
}

.portfolio {
  margin: 0 50px;
  height: 100%;
  display: inline-block;
  padding: 0 50px;
}

.portfolio img {
  width: 100%;
}

.portfolio img:hover {
  opacity: .7;
}

.portfolio h2{
  font-size: 4.5vw;
  text-align: center;
  font-family: Aldi;

}

.portfolio p{

  font-size: 2vw;
  opacity: .8;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
}

#contact{
margin-top: 90px;
padding-top: 40px;
background-color: rgba(212, 133, 8, 0.8);
color: white;

}

.contactme{
  text-align: center;
  font-size: 4.5vw;
  font-family: Aldi;

}

.why{
  text-align: center;
  font-size: 2.3vw;
  line-height: 1.5em;
}


.contactinfo {
text-align: center;
font-size: 150%;
padding: 1em;
list-style: none;

}

.contactinfo li {
  display: inline;

}

.contactinfo img{
  width: 60px;
  padding: 5px;
}

}
