* {
    box-sizing: border-box;
}

html, body{
  background-color: #D2D1B2;
  margin: 0;
  padding: 0;
}

.navigation{
  height: 75vw;
  background: url("https://raw.githubusercontent.com/shawnsheu/shawnsheu.github.io/master/wood.jpg");
  margin-top: -100px;
  padding: 0px;
  width: 100%;
  background-attachment: fixed;
background-position: top center;
background-repeat: no-repeat;
background-size: cover;
}

.nav a:hover{
  background-color: #743636;
  cursor: pointer;
  cursor: hand;
}

.nav {
  list-style: none;
  background-color: #BFB245;
  text-align: center;
  z-index: 2;
  width: 100%;
  height: 8vw;
  margin: 0;
}

.nav li {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 3.5vw;
  padding: .6vw;
float: center;
display: inline-block;
position: relative;

}

.nav a{
  text-decoration: none;
  color: white;
  padding: 0 1em;
}

.subhead{
  position: relative;
  color: white;
  text-align: center;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Cedarville Cursive', cursive;
  /*font-size: 2.074em*/
  font-size: 3.5vw;
  padding-top: 23vw;
left: 0;
right: 0;
}

.heights{
  position: relative;
  text-align: center;
  color: white;
  font-size: 10vw;
  weight: bold;
  font-family: 'Bungee Shade', cursive;
  padding-bottom: 5%;
  padding-top: %;
  line-height: .3;
left:0;
right:0;
}

#about{
  margin: 2vw 2vw 0;
  padding-top: 4vw;
  padding-bottom: 4vw;
  display: inline-block;
  font-size: 0;
}

#eh{
  border-top: .5vw dotted;
  border-color: white;
  width: 65%;
  margin: 0 auto;

}

.aboutme{
  font-family: 'Cedarville Cursive', cursive;
  float: right;
  width: 65%;
  font-size: 3vw;
  padding-top: 2%;
  padding-right: 6vw;
  color: #743636 ;
  margin-top: 2vw;
  text-align: justify;;
/*034050*/
}

.hello{
  color:white;
}

.me{
  width:23%;
  height: auto;
  float: left;
  margin-top: 5%;
  margin-left: 8vw;
  padding: 1%;
  border: dashed;
  border-color: white;
  }

  .me:hover{
    transform:scale(1.1);
  }


.portfoliohead{

  font-family: 'Cedarville Cursive', cursive;
text-align: center;
font-size: 4.5vw;
color:#743636 ;
border-top: .5vw dotted;
border-color: white;
width: 65%;
margin: 0 auto;
padding: 2vw 2vw 0;
}

.web{
  width: 45%;
  height: auto;
  padding: 2vw;
  margin: 0;
}

.images{
  text-align: center;
  font-size: 0;
  display: block;
  overflow: hidden;
}


#contact{
  height: auto;
  border-top: .5vw dotted;
  border-color: white;
  margin: 3vw 2vw 0;
}

.contactme{
  color: #743636;
  font-family: 'Sacramento', cursive;
  font-size: 4vw;
  text-align: center;
  line-height: 1px;
  padding-top: 2vw;
}

.why{
  color: #743636;
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  font-size: 2.3vw;
  line-height: 1.5em;
}


.contactinfo {
  display: block;
text-align: center;}
.contactinfo img{
  width: 50px;
  padding: 5px;
}

.category{
  color: #743636;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 2em;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
margin: 0 auto;
  border-top: 20px solid white;
  position: relative;
 }

 /* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px)
and (max-device-width : 480px) {

  .navigation{
    height: 300%;
    background: url("woods.jpg");
    padding: 0px;
    width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  }

  .subhead{
    position: relative;
    color: white;
    text-align: center;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Cedarville Cursive', cursive;
    /*font-size: 2.074em*/
    font-size: 25px;
    padding-top: 30%;
  left: 0;
  right: 0;
  }

  .heights{
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    weight: bold;
    font-family: 'Bungee Shade', cursive;
    padding-bottom: 5%;
    padding-top: %;
    line-height: .3;
  left:0;
  right:0;
  }


  .nav {
    height: auto;

  }

  .nav li {
    font-size: 20px;

  }

  .arrow-down{
    margin-left: -100px;
  }

  #about{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-top: 8%;
  }

  .me{
    width: 50%;
    float: none;
    margin: 8% auto 0;
    padding: 5%;
    text-align: center;
  }
  .aboutme{
    float: none;
    padding: 0;
    margin: 5% auto;
    font-size: 24px;
    width: 90%;
    }




}
