@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Arvo');

*{
  box-sizing: border-box;
}

body{
  background-color: #f6ebe7;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

  }

}

.top {
  display: inline-block;
  width: 100%;
}

.top img{
  float: left;
  width: 60%;
  padding-top: 5%;
  padding-left: 5%;
}

.top article{
  float: right;
  text-align: left;
  width:40%;
  margin-top: 15%;
  padding-left: 4%;
  padding-right: 3%;
}

.long{
  width: 100%;
  text-align: center;
}

#full{
  margin-top: 5%;
  width: 45%;
}
